<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <div>Myntra</div>
        <a href="/">Home</a>
    </div>
    <div class="container">
        <h1>Explore</h1>
        <ul>
            <li><a href="/fashion_blogs">Fashion Blogs</a></li>
            <li><a href="/personal_wardrobe">Personalized Wardrobe</a></li>
            <li><a href="/customize">Onboarding designer tailors</a></li>
        </ul>
    </div>
</body>
</html>
